.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  display: flex;
  flex-direction: column;
  background-color: #222;
  align-items: center;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Item-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.Item-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px dotted gray;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.catPicture {
  width: 100px;
}
